<br>
<h5>Final Exam</h5>
<br>
<div id="final-exam-1" class="container" style="width: 80%;" *ngIf="isSM">
  <form [formGroup]="finalExam" (ngSubmit)="onSubmit()">
    <div class="form-group">
      1. What is the best way to handle dependencies in Less?
      <textarea type="text" class="form-control" id="question-1"  formControlName="question-1" rows="5"></textarea>
    </div>
    <div class="form-group">
      2. DevOps enables you to create your software with built-in quality and monitoring.<br>
      <input type="radio" name="question-2" value="true"> True<br>
      <input type="radio" name="question-2" value="false"> False
    </div>
    <div class="form-group">
      3. In LeSS, teams should work separately until the end of the sprint and then integrate before the review.<br>
      <input type="radio" name="question-3" value="true"> True<br>
      <input type="radio" name="question-3" value="false"> False
    </div>
    <div class="form-group">
      4. Is there a Scrum of Scrums meeting in LeSS? If so what happens at this meeting?
      <textarea type="text" class="form-control" id="question-4"  formControlName="question-4" rows="5"></textarea>
    </div>
    <div class="form-group">
      5. When using agile software management methodologies one should avoid writing detailed specifications because design change frequently.<br>
      <input type="radio" name="question-5" value="true"> True<br>
      <input type="radio" name="question-5" value="false"> False
    </div>
    <div class="form-submit">
      <button (click)="onSubmit()" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<div id="final-exam-2" class="container" style="width: 80%;" *ngIf="!isSM">
  <form [formGroup]="finalExam" (ngSubmit)="onSubmit()">
    <div class="form-group">
      1. SSI is a key for distributed computing. Provide classification of SSI memory.
      <textarea type="text" class="form-control" id="question-1"  formControlName="question-1" rows="5"></textarea>
    </div>
    <div class="form-group">
      2. Applets benefit connectiong to a 3rd-party database server.<br>
      <input type="radio" name="question-2" value="true"> True<br>
      <input type="radio" name="question-2" value="false"> False
    </div>
    <div class="form-group">
      3. It is easy to implement message ordering in C++ instead of Java.<br>
      <input type="radio" name="question-3" value="true"> True<br>
      <input type="radio" name="question-3" value="false"> False
    </div>
    <div class="form-group">
      4. Provide software technologies relared to SSI function calls.<br>
      <textarea type="text" class="form-control" id="question-4"  formControlName="question-4" rows="5"></textarea>
    </div>
    <div class="form-group">
      5. Applets benefit working as a mail agent that allows mime.<br>
      <input type="radio" name="question-5" value="true"> True<br>
      <input type="radio" name="question-5" value="false"> False
    </div>
    <div class="form-submit">
      <button (click)="onSubmit()" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>