 <h5>Add Courses:</h5>
 <div id="add-course" class="container" style="width: 50%;">

  <form [formGroup]="addCourseForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="courseNumber">Course Number</label>
      <input type="text" class="form-control" id="courseNumber" placeholder="Enter course number"
        formControlName="courseNumber">
    </div>
    <div class="form-group">
      <label for="courseName">Course Name</label>
      <input type="text" class="form-control" id="courseName" placeholder="Enter course name" formControlName="courseName">
    </div>
    <div class="form-group">
      <label for="courseDescription">Course Description</label>
      <input type="text" class="form-control" id="courseDescription" placeholder="Enter course description" formControlName="courseDescription">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
 
</div>
