div {
  padding-top: 5px;
}

#course-title {
  text-align: center;
}

.page-div {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: white;
}

#deleteCourseBtn {
  text-align: center;
}
