<div class="container" style="margin-top: 5em;"> <!-- need so toolbar isn't on top of anything -->
  <div *ngIf="course$ | async as course">
    <h3 id="course-title">{{ course.name }}</h3>
    <br>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <ul class="navbar-nav nav-pills nav-fill w-100">
        <li class="nav-item active" *ngIf="isTeacher"><a class="nav-link" routerLink='./'>Home</a></li>
        <li class="nav-item active" *ngIf="!isTeacher"><a class="nav-link" routerLink='./'>Home</a></li>
        <li class="nav-item" *ngIf="isTeacher"><a class="nav-link" routerLink='/dashboard/teacher'>Course Content</a></li>
        <li class="nav-item" *ngIf="!isTeacher"><a class="nav-link" routerLink='/dashboard'>Course Content</a></li>
        <li class="nav-item" *ngIf="isTeacher"><a class="nav-link" routerLink='/dashboard/teacher'>Assignments</a></li>
        <li class="nav-item" *ngIf="!isTeacher"><a class="nav-link" routerLink='/dashboard'>Assignments</a></li>
        <li class="nav-item" *ngIf="isTeacher"><a class="nav-link" routerLink='/dashboard/teacher'>Grades</a></li>
        <li class="nav-item" *ngIf="!isTeacher"><a class="nav-link" routerLink='/dashboard'>Grades</a></li>
        <li class="nav-item" *ngIf="isTeacher"><a class="nav-link" routerLink='/dashboard/teacher'>Enrolled Students</a></li>
        <li class="nav-item" *ngIf="!isTeacher"><a class="nav-link" routerLink='/dashboard'>Enrolled Students</a></li>

      </ul>
    </nav>
    <div class="page-div"></div>
    <br>
    <h6>Course Description:</h6>
    <p>{{ course.description }}</p>
    <div id="deleteCourseBtn" *ngIf="isTeacher"><button  class="btn btn-danger" (click)="deleteCourse(course.id)">Delete This Course</button></div>
  </div>
</div>
