<div class="container-fluid">
  <div class="d-flex" id="toolbar">
      <!-- NAVBAR -->
      <nav id="navbar-scrolling" class="align-self-center">
        <ul class="nav nav-fill nav-pills justify-content-center">
          <li class="nav-item" *ngIf="isTeacher"><a class="nav-link" routerLink='/dashboard/teacher' routerLinkActive="active">Dashboard</a></li>
           <li class="nav-item" *ngIf="!isTeacher"><a class="nav-link" routerLink='/dashboard' routerLinkActive="active">Dashboard</a></li>
           <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Course</a>
               <div class="dropdown-menu">
                <div *ngFor="let course of courses$ | async">
                   <a class="dropdown-item" [routerLink]="['/course', course.id]">{{course.courseNumber}}: {{course.name}}</a>
                </div>
               </div>
           </li>
		       <li class="nav-item"><a class="nav-link" (click)="logout()" routerLink='/loginPage'>Logout</a></li>
        </ul>
        <div class="page-div"></div> <!-- White line under the toolbar -->
      </nav>
      <!-- End NAVBAR -->
    </div>
</div>
