<br>
<div *ngIf="course$ | async as course">
<br>
 <h5>Add Course Content:</h5>
 <br>
 <div id="add-coursecontent" class="container" style="width: 90%">
  <form [formGroup]="addCourseContentForm" (ngSubmit)="onSubmit(course.id)">
    <div class="form-group">
      <label for="classContent">Class Content</label><br>
      <textarea type="text" class="form-control" id="classContent" placeholder="Enter Class Content" formControlName="classContent" rows="10" cols="50"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
 </div>
 </div>
