<h2>Courses</h2>
<div class="courses container">
  <h5>Currently Teaching Courses:</h5>
  <div *ngFor="let course of courses$ | async"
    [class.selected]="course.id === selectedId">
    <div [routerLink]="['/course', course.id]">
      <div class="card btn btn-primary">
        <div class="card-body">
          <h5 class="card-title badge">{{ course.courseNumber }}:</h5>{{course.name }}
        </div>
      </div>
    </div>
  </div>
</div>
<div>
<nav id="navbar-scrolling" class="align-self-center">
   <ul class="nav nav-fill nav-pills justify-content-center">
     <li class="nav-item"><a  class="btn btn-primary" routerLink='/dashboard/teacher/addcourse' routerLinkActive="active">Add New Course</a></li>
   </ul>
   <div class="page-div"></div> 
</nav>
</div>
