<div id='exams' class='container'>
  <br>
  <h6>Instructions:</h6>
    <p>Midterm and Final exam will include objective questions and writing descriptive answers to questions. There will be about 5 questions including objectives and descriptive type questions</p>
    <div class='exam-btn'>
       <button class="btn btn-primary" (click)="goToMidtermExam()">Take Midterm</button>
    </div>
    <div class='exam-btn'>
        <button class="btn btn-primary" (click)="goToFinalExam()">Take Final Exam</button>
    </div>
</div>